@model IEnumerable<UgbFront.Models.UsuarioModel>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Departamento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Matricula</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Departamento</td>
                <td>
                    <a asp-action="Details" asp-route-id="@usuario.UsuarioId" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@usuario.UsuarioId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@usuario.UsuarioId" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>